{{#each posts as |post| }}
<div class="postDiv">
    <div class="title">
        <h2 class="title">{{post.post_title}}</h2><span>posted by: {{post.user.name}}</span>
    </div>
    <p class="post-body">{{post.post_body}}</p>
</div>
{{/each}}